<!-- The lines in the footer (excluding this one) are greatly indented when viewed as a file but look normal if
            viewed on the web using "view page source" when part of the complete web page. -->
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <!-- Creative Commons license. Added before uploading to GitHub -->
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                    <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
                </a><br />
                This work is licensed under a
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                    Creative Commons Attribution-ShareAlike 4.0 International License
                </a>.<br />
                <!-- Attribution placeholder is overwritten due to the set_footer function. Most pages call that
                function when the body is loaded. your_data.ejs calls it as part of the read_keys function,
                which is also called when the body is loaded. -->
                <span id="footerTextDisplay">Author Year placeholder</span>
            </div>
            <div class="col-sm-2"></div>
