<!-- The lines in the nav bar (excluding this one) are greatly indented when viewed as a file but look normal if
            viewed on the web using "view page source" when part of the complete web page. -->
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <nav class="navbar">
                    <ul class="nav">
                        <!-- Nav Bar containing links to the four website pages -->
                        <li class="nav-item">
                            <a class="nav-link link-dark" href="/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-dark" href="/your_data">Your Forecast Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-dark" href="/lookup">New Lenox Lookup</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-dark" href="/monthly">New Lenox Monthly View</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-2"></div>
